<div id="profile">
    <h5 id="current_user"> <%=current_user.email %> </h5>
    <dl class="accordion" data-accordion>
  <dd>
    <a href="#panel1">Accordion 1</a>
  </dd>
  <dd>
    <a href="#panel2">Accordion 2</a>
    <div id="panel2" class="content">
      Hi
    </div>
  </dd>
  <dd>
    <a href="#panel3">Accordion 3</a>
    <div id="panel3" class="content">
      Hello
    </div>
  </dd>
</dl>
  </div>