<div id="header">
  <h3 id="title"> Switter </h3>
  <h5 id = "welcome"> Welcome Sweety! </h2>
</div>

<p id = "backedit">
	<%= link_to 'Back', articles_path, class: 'button' %>
</p>
 
<%= render 'form' %>
 

